<header class="header">
  <div class="header__top center">
    <div class="container">
      <div class="header__links">
        <a href="#">О компании</a>
        <a href="#">Доставка и оплата</a>
        <a href="#">Полезная информация</a>
        <a href="#">Оптовикам</a>
        <a href="#">Контакты</a>
      </div>
    </div>
  </div>
  <div class="header__center center">
    <img class="header__logo" src="img/logo.svg" alt="Норма корма">
    <button aria-label="Открыть / закрыть каталог">Каталог</button>

    <form class="header__search search" action="#" method="POST">
      <input type="text" placeholder="Найти сухой корм">
      <button>
        svg
      </button>
    </form>

    <div class="header__info">
      <div class="item">
        <span>svg</span>
        <a href="tel:89995555555">8(999)555-55-55</a>
      </div>
      <div class="item">
        <span>svg</span>
        <button>Москва и МО</button>
      </div>
      <div class="item">
        <span>svg</span>
        <button>Войти</button>
      </div>
      <div class="item">
        <span>svg
          <span>35</span>
        </span>
        <a href="#">Избранное</a>
      </div>
      <div class="item">
        <span>svg
          <span>4</span>
        </span>
        <a href="#">Корзина</a>
      </div>
    </div>
  </div>

  <div class="header__nav center">
    <a href="#">Собаки</a>
    <a href="#">Кошки</a>
    <a href="#">Рыбы</a>
    <a href="#">Птицы</a>
    <a href="#">Грызуны</a>
    <a href="#">Фермерам</a>
    <a href="#">Рептилии</a>
    <a href="#">Хорьки</a>
    <a href="#">
      svg
      Акции</a>
    <button>Бренды</button>
  </div>

  <nav class="header__drop menu">
    <div class="menu__main">
      <a href="#">Собаки</a>
      <a href="#">Кошки</a>
      <a href="#">Рыбы</a>
      <a href="#">Птицы</a>
      <a href="#">Грызуны</a>
      <a href="#">Фермерам</a>
      <a href="#">Рептилии</a>
      <a href="#">Хорьки</a>
      <a href="#">Акции</a>
      <a href="#">Бренды</a>
    </div>
    <div class="menu__details">
      <div class="menu__blocks">
        <div class="menu__block">
          <p class="menu__title">
            <a href="#">Корм</a>
          </p>
          <div class="menu__list">
            <a href="#">Сухие корма</a>
            <a href="#">Консервы</a>
            <a href="#">Холистик корма</a>
            <a href="#">Лечебные и ветеринарные корма</a>
            <a href="#">Лакомства</a>
          </div>
        </div>
        <div class="menu__block">
          <p class="menu__title">
            <a href="#">Содержание и уход</a>
          </p>
          <div class="menu__list">
            <a href="#">Переноски</a>
            <a href="#">Пеленки</a>
            <a href="#">Лежанки</a>
            <a href="#">Умные товары</a>
            <a href="#">Игрушки</a>
            <a href="#">Аммуниция</a>
            <a href="#">Грумминг</a>
            <a href="#">Одежда</a>
          </div>
        </div>
        <div class="menu__block">
          <p class="menu__title">
            <a href="#">Защита от блох и клещей</a>
          </p>
          <div class="menu__list">
            <a href="#">Таблетки</a>
            <a href="#">Ошейники</a>
            <a href="#">Капли</a>
            <a href="#">Спреи</a>
            <a href="#">Шампуни</a>
            <a href="#">От гельминтов</a>
          </div>
        </div>
        <div class="menu__block">
          <p class="menu__title">
            <a href="#">Одежда и обувь</a>
          </p>
          <div class="menu__list">
            <a href="#">Дождевики</a>
            <a href="#">Комбинезоны</a>
            <a href="#">Свитеры</a>
            <a href="#">Ботинки</a>
            <a href="#">Футболки и майки</a>
            <a href="#">Платья</a>
            <a href="#">Костюмы</a>
          </div>
        </div>
        <div class="menu__block">
          <p class="menu__title">
            <a href="#">Лакомства</a>
          </p>
          <div class="menu__list">
            <a href="#">Натуральные</a>
            <a href="#">Мясные и вяленые</a>
            <a href="#">Для чистки зубов</a>
            <a href="#">Колбаски</a>
            <a href="#">Витамины</a>
          </div>
        </div>
        <div class="menu__block">
          <p class="menu__title">
            <a href="#">Ветаптека</a>
          </p>
          <div class="menu__list">
            <a href="#">От блох и клещей</a>
            <a href="#">От гельминтов</a>
            <a href="#">Диетический корм</a>
            <a href="#">Витамины</a>
            <a href="#">Успокоительное</a>
            <a href="#">Смотреть все</a>
          </div>
        </div>
      </div>
      <div class="menu__banners">
        <a href="#">
          <img src="img/header/banner-1.jpg" alt="">
        </a>
      </div>
    </div>
  </nav>

  <div class="header__drop brands">
    <div class="brands__nav">
      <div class="brands__nav-item">
        <a href="#">0</a> - <a href="#">9</a>
      </div>

      <div class="brands__nav-item">
        <a href="#">A</a>
        <a href="#">B</a>
        <a href="#">C</a>
        <a href="#">D</a>
        <a href="#">E</a>
        <a href="#">F</a>
        <a href="#">G</a>
        <a href="#">H</a>
        <a href="#">I</a>
        <a href="#">J</a>
        <a href="#">K</a>
        <a href="#">L</a>
        <a href="#">M</a>
        <a href="#">N</a>
        <a href="#">O</a>
        <a href="#">P</a>
        <a href="#">Q</a>
        <a href="#">R</a>
        <a href="#">S</a>
        <a href="#">T</a>
        <a href="#">U</a>
        <a href="#">V</a>
        <a href="#">W</a>
        <a href="#">X</a>
        <a href="#">Y</a>
        <a href="#">Z</a>
      </div>

      <div class="brands__nav-item">
        <a href="#">А</a>
        <a href="#">Б</a>
        <a href="#">В</a>
        <a href="#">Г</a>
        <a href="#">Д</a>
        <a href="#">Е</a>
        <a href="#">Ж</a>
        <a href="#">З</a>
        <a href="#">И</a>
        <a href="#">К</a>
        <a href="#">Л</a>
        <a href="#">М</a>
        <a href="#">Н</a>
        <a href="#">О</a>
        <a href="#">П</a>
        <a href="#">Р</a>
        <a href="#">С</a>
        <a href="#">Т</a>
        <a href="#">У</a>
        <a href="#">Ф</a>
        <a href="#">Х</a>
        <a href="#">Ц</a>
        <a href="#">Ч</a>
        <a href="#">Ш</a>
        <a href="#">Щ</a>
        <a href="#">Э</a>
        <a href="#">Ю</a>
        <a href="#">Я</a>
      </div>
    </div>
    <div class="brands__slider">
      <div class="brands__item">
        <span class="brands__letter">А</span>
        <div class="brands__list">
          <a href="#">AA Aquarium</a>
          <a href="#">Aatu</a>
          <a href="#">Acana</a>
          <a href="#">Advance</a>
          <a href="#">AA Aquarium</a>
          <a href="#">Aatu</a>
          <a href="#">Acana</a>
          <a href="#">Advance</a>
          <a href="#">AA Aquarium</a>
          <a href="#">Aatu</a>
          <a href="#">Acana</a>
          <a href="#">Advance</a>
        </div>
      </div>
      <div class="brands__item">
        <span class="brands__letter">B</span>
        <div class="brands__list">
          <a href="#">AA Aquarium</a>
          <a href="#">Aatu</a>
          <a href="#">Acana</a>
          <a href="#">Advance</a>
          <a href="#">AA Aquarium</a>
          <a href="#">Aatu</a>
          <a href="#">Acana</a>
          <a href="#">Advance</a>
          <a href="#">AA Aquarium</a>
          <a href="#">Aatu</a>
        </div>
      </div>
      <div class="brands__item">
        <span class="brands__letter">C</span>
        <div class="brands__list">
          <a href="#">AA Aquarium</a>
          <a href="#">Aatu</a>
          <a href="#">Acana</a>
          <a href="#">Advance</a>
          <a href="#">AA Aquarium</a>
          <a href="#">Aatu</a>
          <a href="#">Acana</a>
          <a href="#">Advance</a>
          <a href="#">AA Aquarium</a>
          <a href="#">Aatu</a>
          <a href="#">AA Aquarium</a>
          <a href="#">Aatu</a>
          <a href="#">Acana</a>
          <a href="#">Advance</a>
          <a href="#">AA Aquarium</a>
          <a href="#">Aatu</a>
        </div>
      </div>
    </div>
  </div>
</header>

<main>
